USE [master]
GO
/****** Object:  Database [VentasMimos]    Script Date: 28/04/2026 3:02:59 a. m. ******/
CREATE DATABASE [VentasMimos]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'VentasMimos', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\VentasMimos.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'VentasMimos_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\VentasMimos_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VentasMimos].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VentasMimos]
GO
/****** Object:  User [adminMimos]    Script Date: 28/04/2026 3:03:00 a. m. ******/
CREATE USER [adminMimos] FOR LOGIN [adminMimos] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [adminMimos]
GO
/****** Object:  Table [dbo].[rol]    Script Date: 28/04/2026 3:03:00 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rol](
	[id_rol] [bigint] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[descripcion] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuario]    Script Date: 28/04/2026 3:03:00 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuario](
	[id_usuario] [bigint] IDENTITY(1,1) NOT NULL,
	[id_rol] [bigint] NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[apellido] [varchar](100) NOT NULL,
	[email] [varchar](150) NOT NULL,
	[estado] [varchar](20) NOT NULL,
	[password_hash] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_ListarUsuarios]    Script Date: 28/04/2026 3:03:00 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- READ ALL (Como Función de Tabla)
CREATE FUNCTION [dbo].[fn_ListarUsuarios]()
RETURNS TABLE
AS
RETURN (
 SELECT u.id_usuario, u.nombre, u.apellido, u.email, u.estado, r.nombre AS rol
 FROM usuario u
 JOIN rol r ON u.id_rol = r.id_rol
);
GO
/****** Object:  Table [dbo].[categoria]    Script Date: 28/04/2026 3:03:00 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categoria](
	[id_categoria] [bigint] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[descripcion] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_categoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[articulo]    Script Date: 28/04/2026 3:03:00 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[articulo](
	[id_articulo] [bigint] IDENTITY(1,1) NOT NULL,
	[id_categoria] [bigint] NOT NULL,
	[nombre] [varchar](200) NOT NULL,
	[descripcion] [text] NULL,
	[fecha_ingreso] [date] NOT NULL,
	[stock] [int] NOT NULL,
	[precio] [decimal](12, 2) NOT NULL,
	[estado] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_articulo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_ListarArticulos]    Script Date: 28/04/2026 3:03:00 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- READ ALL (Con parámetro de filtro)
CREATE FUNCTION [dbo].[fn_ListarArticulos](@soloDisponibles BIT)
RETURNS TABLE
AS
RETURN (
 SELECT a.id_articulo, a.nombre, a.descripcion, a.stock,
a.precio, a.estado, c.nombre AS categoria
 FROM articulo a
 JOIN categoria c ON a.id_categoria = c.id_categoria
 WHERE (@soloDisponibles = 0 OR a.estado = 'disponible')
);
GO
/****** Object:  Table [dbo].[carrito]    Script Date: 28/04/2026 3:03:00 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[carrito](
	[id_carrito] [bigint] IDENTITY(1,1) NOT NULL,
	[id_usuario] [bigint] NOT NULL,
	[fecha_creacion] [datetime] NOT NULL,
	[estado] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_carrito] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[historial_articulo]    Script Date: 28/04/2026 3:03:00 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[historial_articulo](
	[id_historial] [bigint] IDENTITY(1,1) NOT NULL,
	[id_articulo] [bigint] NOT NULL,
	[id_usuario] [bigint] NOT NULL,
	[operacion] [varchar](20) NOT NULL,
	[fecha_hora] [datetime] NOT NULL,
	[datos_anteriores] [nvarchar](max) NULL,
	[datos_nuevos] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_historial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[item_carrito]    Script Date: 28/04/2026 3:03:00 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[item_carrito](
	[id_item] [bigint] IDENTITY(1,1) NOT NULL,
	[id_carrito] [bigint] NOT NULL,
	[id_articulo] [bigint] NOT NULL,
	[cantidad] [int] NOT NULL,
	[precio_unitario] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_item] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_carrito_articulo] UNIQUE NONCLUSTERED 
(
	[id_carrito] ASC,
	[id_articulo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[articulo] ADD  DEFAULT (getdate()) FOR [fecha_ingreso]
GO
ALTER TABLE [dbo].[articulo] ADD  DEFAULT ((0)) FOR [stock]
GO
ALTER TABLE [dbo].[articulo] ADD  DEFAULT ('disponible') FOR [estado]
GO
ALTER TABLE [dbo].[carrito] ADD  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[carrito] ADD  DEFAULT ('activo') FOR [estado]
GO
ALTER TABLE [dbo].[historial_articulo] ADD  DEFAULT (getdate()) FOR [fecha_hora]
GO
ALTER TABLE [dbo].[usuario] ADD  DEFAULT ('activo') FOR [estado]
GO
ALTER TABLE [dbo].[usuario] ADD  DEFAULT ('temp_password') FOR [password_hash]
GO
ALTER TABLE [dbo].[articulo]  WITH CHECK ADD FOREIGN KEY([id_categoria])
REFERENCES [dbo].[categoria] ([id_categoria])
GO
ALTER TABLE [dbo].[carrito]  WITH CHECK ADD FOREIGN KEY([id_usuario])
REFERENCES [dbo].[usuario] ([id_usuario])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[historial_articulo]  WITH CHECK ADD FOREIGN KEY([id_articulo])
REFERENCES [dbo].[articulo] ([id_articulo])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[historial_articulo]  WITH CHECK ADD FOREIGN KEY([id_usuario])
REFERENCES [dbo].[usuario] ([id_usuario])
GO
ALTER TABLE [dbo].[item_carrito]  WITH CHECK ADD FOREIGN KEY([id_articulo])
REFERENCES [dbo].[articulo] ([id_articulo])
GO
ALTER TABLE [dbo].[item_carrito]  WITH CHECK ADD FOREIGN KEY([id_carrito])
REFERENCES [dbo].[carrito] ([id_carrito])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[usuario]  WITH CHECK ADD FOREIGN KEY([id_rol])
REFERENCES [dbo].[rol] ([id_rol])
GO
ALTER TABLE [dbo].[articulo]  WITH CHECK ADD CHECK  (([estado]='descontinuado' OR [estado]='agotado' OR [estado]='disponible'))
GO
ALTER TABLE [dbo].[articulo]  WITH CHECK ADD CHECK  (([precio]>=(0)))
GO
ALTER TABLE [dbo].[articulo]  WITH CHECK ADD CHECK  (([stock]>=(0)))
GO
ALTER TABLE [dbo].[carrito]  WITH CHECK ADD CHECK  (([estado]='cerrado' OR [estado]='activo'))
GO
ALTER TABLE [dbo].[historial_articulo]  WITH CHECK ADD CHECK  (([operacion]='DELETE' OR [operacion]='UPDATE' OR [operacion]='INSERT'))
GO
ALTER TABLE [dbo].[item_carrito]  WITH CHECK ADD CHECK  (([cantidad]>(0)))
GO
ALTER TABLE [dbo].[usuario]  WITH CHECK ADD CHECK  (([estado]='suspendido' OR [estado]='i
nactivo' OR [estado]='activo'))
GO
/****** Object:  StoredProcedure [dbo].[sp_ActualizarUsuario]    Script Date: 28/04/2026 3:03:00 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ActualizarUsuario]
 @id BIGINT ,
 @nombre VARCHAR(100),
 @apellido VARCHAR(100),
 @email VARCHAR(150),
 @estado VARCHAR(20)
AS
BEGIN
 UPDATE usuario
 SET nombre = @nombre, apellido = @apellido, email = @email, estado = @estado
 WHERE id_usuario = @id;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_AgregarItemCarrito]    Script Date: 28/04/2026 3:03:00 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Carrito y pedidos
-- AGREGAR O ACTUALIZAR ITEM (UPSERT)
CREATE PROCEDURE [dbo].[sp_AgregarItemCarrito]
 @id_carrito BIGINT,
 @id_articulo BIGINT,
 @cantidad INT,
 @precio_unitario DECIMAL(12,2)
AS
BEGIN
 IF EXISTS (SELECT 1 FROM item_carrito WHERE id_carrito =
@id_carrito AND id_articulo = @id_articulo)
 BEGIN
 UPDATE item_carrito
 SET cantidad = cantidad + @cantidad
 WHERE id_carrito = @id_carrito AND id_articulo = @id_articulo;
 END
 ELSE
 BEGIN
 INSERT INTO item_carrito (id_carrito, id_articulo, cantidad, precio_unitario)
 VALUES (@id_carrito, @id_articulo, @cantidad, @precio_unitario);END
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_CrearArticulo]    Script Date: 28/04/2026 3:03:00 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- CREATE
CREATE PROCEDURE [dbo].[sp_CrearArticulo]
 @id_categoria BIGINT,
 @nombre VARCHAR(200),
 @descripcion NVARCHAR(MAX),
 @stock INT,
 @precio DECIMAL(12,2)
AS
BEGIN
 INSERT INTO articulo (id_categoria, nombre, descripcion,
stock, precio)
 VALUES (@id_categoria, @nombre, @descripcion, @stock, @precio);
 select *from articulo
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_CrearUsuario]    Script Date: 28/04/2026 3:03:00 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CrearUsuario]
 @id_rol BIGINT,
 @nombre VARCHAR(100),
 @apellido VARCHAR(100),
 @email VARCHAR(150)
AS
BEGIN
 INSERT INTO usuario (id_rol, nombre, apellido, email)
 VALUES (@id_rol, @nombre, @apellido, @email);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_EliminarUsuario]    Script Date: 28/04/2026 3:03:00 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_EliminarUsuario]
 @id BIGINT
AS
BEGIN
 UPDATE usuario SET estado = 'inactivo' WHERE id_usuario =
@id;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_FinalizarPedido]    Script Date: 28/04/2026 3:03:00 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- CONVERTIR CARRITO A PEDIDO (Proceso Atómico)
CREATE PROCEDURE [dbo].[sp_FinalizarPedido]
 @id_usuario BIGINT,
 @id_carrito BIGINT
AS
BEGIN
 BEGIN TRANSACTION
 BEGIN TRY
 DECLARE @v_total DECIMAL(14,2)
 DECLARE @v_id_ped BIGINT;
 -- 1. Calcular total
 SELECT @v_total = SUM(cantidad * precio_unitario)
 FROM item_carrito WHERE id_carrito = @id_carrito;
 -- 2. Crear Pedido
 INSERT INTO pedido (id_usuario, id_carrito, total, estado)
 VALUES (@id_usuario, @id_carrito, ISNULL(@v_total,0), 'pendiente')

 SET @v_id_ped = SCOPE_IDENTITY(); -- Obtiene el ID recién creado

 -- 3. Mover items al detalle
 INSERT INTO detalle_pedido (id_pedido, id_articulo, cantidad, precio_unitario)
 SELECT @v_id_ped, id_articulo, cantidad, precio_unitario
 FROM item_carrito
 WHERE id_carrito = @id_carrito;
 -- 4. Cerrar carrito
 UPDATE carrito SET estado = 'convertido' WHERE id_carrito = @id_carrito;
 COMMIT TRANSACTION;
 END TRY
 BEGIN CATCH
 ROLLBACK TRANSACTION;
 THROW 50000, 'Error al procesar el pedido.', 1;
 END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GestionarIncidencia]    Script Date: 28/04/2026 3:03:00 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Gestion de incidencia
CREATE PROCEDURE [dbo].[sp_GestionarIncidencia]
 @id_incidencia BIGINT,
 @id_admin BIGINT,
 @nuevo_estado VARCHAR(20)
AS
BEGIN
 UPDATE incidencia
 SET id_admin = @id_admin,
 estado = @nuevo_estado,
 fecha_cierre = CASE
 WHEN @nuevo_estado IN ('resuelta','cerrada') THEN GETDATE()
 ELSE NULL
 END
 WHERE id_incidencia = @id_incidencia
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertarUsuario]    Script Date: 28/04/2026 3:03:00 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertarUsuario]
    @id_rol BIGINT,
    @nombre VARCHAR(100),
    @apellido VARCHAR(100),
    @email VARCHAR(150),
    @estado VARCHAR(20),
    @password_hash VARCHAR(255)
AS
BEGIN
    INSERT INTO usuario (
        id_rol, nombre, apellido, email, estado, password_hash
    )
    VALUES (
        @id_rol, @nombre, @apellido, @email, @estado, @password_hash
    );
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarArticulo]    Script Date: 28/04/2026 3:03:00 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[sp_ListarArticulo]
as
begin
select * from articulo
end
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarUsuario]    Script Date: 28/04/2026 3:03:00 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_ListarUsuario]
as
begin
select * from usuario
end
GO
/****** Object:  StoredProcedure [dbo].[sp_LoginUsuario]    Script Date: 28/04/2026 3:03:00 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_LoginUsuario]
    @email VARCHAR(150)
AS
BEGIN
    SELECT 
        id_usuario,
        id_rol,
        nombre,
        apellido,
        email,
        password_hash
    FROM usuario
    WHERE email = @email;
END
GO
/****** Object:  StoredProcedure [dbo].[sps_AgregarItemCarrito]    Script Date: 28/04/2026 3:03:00 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Version sencilla del carrito sin tanta vaina
--Items al carrito 2
-- Agregar item al carrito.
CREATE PROCEDURE [dbo].[sps_AgregarItemCarrito]
 @id_carrito BIGINT,
 @id_articulo BIGINT,
 @cantidad INT,
 @precio_unitario DECIMAL(12,2)
AS
BEGIN
 -- Si el producto ya existe en el carrito del usuario...
 IF EXISTS (SELECT 1 FROM item_carrito WHERE id_carrito =
@id_carrito AND id_articulo = @id_articulo)
 BEGIN
 -- ... solo actualizamos la cantidad
 UPDATE item_carrito
 SET cantidad = cantidad + @cantidad
 WHERE id_carrito = @id_carrito AND id_articulo = @id_articulo
 END
 ELSE
 BEGIN
 -- ... si no existe, lo agregamos por primera vez
 INSERT INTO item_carrito (id_carrito, id_articulo, cantidad, precio_unitario)
 VALUES (@id_carrito, @id_articulo, @cantidad, @precio_unitario)
 END
END
GO
/****** Object:  StoredProcedure [dbo].[sps_FinalizarPedido]    Script Date: 28/04/2026 3:03:00 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Crear pedido desde carrito
CREATE PROCEDURE [dbo].[sps_FinalizarPedido]
 @id_usuario BIGINT,
 @id_carrito BIGINT
AS
BEGIN
 -- 1. Creamos el Pedido (El total se calculará después o se puede enviar)
 INSERT INTO pedido (id_usuario, id_carrito, total, estado)
 VALUES (@id_usuario, @id_carrito, 0, 'pendiente')
 -- 2. Guardamos el ID del pedido que acabamos de crear
 DECLARE @nuevo_id_pedido BIGINT = SCOPE_IDENTITY()
 -- 3. Pasamos todo lo que está en el carrito a la tabla de detalle_pedido
 INSERT INTO detalle_pedido (id_pedido, id_articulo, cantidad, precio_unitario)
 SELECT @nuevo_id_pedido, id_articulo, cantidad, precio_unitario
 FROM item_carrito
 WHERE id_carrito = @id_carrito
 -- 4. Actualizamos el total del pedido con la suma de sus detalles
 UPDATE pedido
 SET total = (SELECT SUM(cantidad * precio_unitario) FROM
detalle_pedido WHERE id_pedido = @nuevo_id_pedido)
 WHERE id_pedido = @nuevo_id_pedido
 -- 5. Marcamos el carrito como 'convertido' para que ya no aparezca activo
 UPDATE carrito SET estado = 'convertido' WHERE id_carrito
= @id_carrito
END
GO
USE [master]
GO
